.row
  .col-lg-1.col-md-1.col-xs-12
  .col-lg-10.col-md-10.col-xs-12
    %h1='ABOUT US'
  .col-lg-1.col-md-1.col-xs-12
.row
  .col-lg-1.col-md-1.col-xs-12
  .col-lg-10.col-md-10.col-xs-12
    %legend='What is the Cultural Spotter?'
  .col-lg-1.col-md-1.col-xs-12  
.row
  .col-lg-1.col-md-1.col-xs-12
  .col-lg-10.col-md-10.col-xs-12
  .col-lg-1.col-md-1.col-xs-12            